
.html .body{
    width: 100%;
    overflow-x: hidden;
}

/* .banner{
    color: #cccccc;
    background-image: url("../../images/slide1-01.jpg");
    background-position: center;
    height: 100vh; 
    background-repeat: no-repeat;
} */



.nav{
    display: flex;
    padding: 0 80px 0 100px;

}

.header{
    display: flex;
    /* width:100%; */
    align-items: center;
    justify-content: space-between;
    height: 115px;
    padding: 0 200px;
    position: fixed;
    z-index: 10;
}

.nav__item{
    list-style: none;
    margin-right: 36px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.nav__link:hover{
    color: red;
}

.nav__item:last-child{
    margin-right: 0;
}


.nav__link{
    color: #fff;
    text-decoration: none;
}

.nav__link:hover{
    color: red;
}

.social{
    display: flex;
    justify-content: space-between;
    padding-right: 0;
    align-items: center;
    
}

.social__item{
    list-style: none;
}


.social__logo{
    position: relative;;
    height: 15px;
    margin-left: 16px;

}
.social__logo-top{
    position: absolute;
    height: 15px;
    margin-left: 16px;
}
.social__logo:hover {
    opacity:0;
  }
    
.banner__content{
    width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100% - 135px);
    text-align: center;
}

.banner__title{
    font-size: 72px;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 16px;
    font-family: 'Courgette', cursive;
    color: white;
    animation-duration: 1s;
}

.banner__subtitle{
    line-height: 1.3;
    font-size: 90px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    letter-spacing: 10px;
    text-transform: uppercase;
    word-spacing: 10px;
    margin-bottom: 37px;
    animation-duration: 1s;
    animation-delay: 1s;

}

.button{
    border-radius: 8px;
    border: none;
    background-color: #fff;
    width: 135px;
    height: 40px;
    transition-duration: 0.4s;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: red;
    animation-duration: 1s;
    animation-delay: 2s;
    z-index: 1;
}
.button:hover{
    background-color: red;
    color: white;
}

.banner__dots{
    position: absolute;
    /* bottom: 40px; */
    height: 65px;
    width: 100%;
    justify-content: center;
    bottom:0;
}

.banner__dot{
    display: inline;
    margin-right: 26px;

}


.button-dot{
    position: absolute;
    border-radius: 50%;
    border: none;
    height: 14px;
    width: 14px;
    margin: 10px;

}

.button-dot:hover{
    background: red;
    border: 2px solid white;

}


.header__mobile{
    display: none;
}

.Slider{
    display: flex;
    flex-wrap: wrap;
}

.Slide1{
    background-image: url("../../images/slide1-01.jpg");
    background-position: center;
    height: 100vh; 
    background-repeat: no-repeat;
}
.Slide2{
    background-image: url("../../images/master-slides-01.jpg");
    background-position: center;
    height: 100vh; 
    background-repeat: no-repeat;
}
.Slide3{
    background-image: url("../../images/master-slides-02.jpg");
    background-position: center;
    height: 100vh; 
    background-repeat: no-repeat;
}

.banner-Slide__image{
    height: 100vh; 
    /* width: 100%; */
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    font-size: 12px;
    border: none;
    outline: none;
    background-color: #000;
    color: white;
    cursor: pointer;
    opacity: .5;
    padding: 15px;
    border-radius: 6px;
}
  
#myBtn:hover {
    opacity: .9;
}

/* .slick-dots {
	display: flex;
	justify-content: center;
    list-style-type: none;
}

  
  .slick-dots li {
    font-size: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    padding: 0;
    background: grey;
    margin: 0 8px;
    opacity: 0.5;
  }
  
  .slick-active button {
    opacity: 1;
  } */


@media (max-width:1024px){
    
    .banner__content{
        width:100%;
        text-emphasis: center;
        height: calc(100% - 50px);
    }
    .banner__title{
        font-size: 50px;
    }
    .banner__subtitle{
        font-size: 70px;
    }

    .logo{
        width: 80px;
    }

    .nav{
        display:none;
    }

    .social{
        margin-left: 550px;
    }

}

@media (max-width:768px){
    .banner__content{
        width: 700px;
    }
}

@media (max-width:567px){
    
    .banner__content{
        width: 100%;
        text-align: center;
        height: calc(100% - 110px);

    }
    .banner__title{
        font-size: 50px;
    }
    
    .banner__subtitle{
        line-height: 1.5;
        font-size: 60px;
    }

    .header{
        display: none;
    }
    .header__mobile{
        position: relative;
        display: block;
    }
    .header__mobile__top{
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20px;
    }
    .header__mobile-row{
        display: flex;
    }
    .header__mobile-column{
        flex: 25%;

    }
    .header__mobile__image{
        height: 20px;
        margin-left:15px;

    }
    .header__mobile__logo{
        height:45px;
    }
    .header__mobile__nav{
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
    }
    .header__mobile__link{
        display: block;
        width: 100%;
        height: 30px;
        line-height: 30px;
        background-color: #fff;
        color: #000;
        text-align: center;
    }
    .social__logo{
        width: 45px;
    }

    .header__mobile__item{
        justify-content: space-between;
        align-items: center;
        display: flex;

    }


}

.container{
    width:1200px;
    margin: 0 auto;
}

