.blog-container{
    width:1200px;
    margin: 0 auto;
    padding: 120px 0 ;
}

@media (max-width:1024px){
    .section-intro{
        width:100%;
    }
    
}

@media (max-width:768px){
    .section-intro{
        width: 100%;
    }
}

@media (max-width:567px){
    .section-intro{
        width: 100%;
    }

    .intro__row{
        column-count: 1;
        display: block;
    }
    
}