.section-booking{
    background-image:  url("../../images/whitetexture.jpg");
    padding: 100px 0 110px 0;
}

.booking-form{
    margin-top: 30px;
    display: block;
}
.form-row{
    /* margin-top: 30px; */
    column-count: 2;
}

.form-column{
    width: 300px; 
    align-items: center;
    justify-content: center;
    text-align: start;

}
.form__item{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    color: #555; 
   
    
}

.form__input{
    padding: 7px 10px 20px 0;
  
}

.input{
    border-radius: 10px;
    border: none;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    color: #666; 
    width: 260px;
    height: 40px;
    border: 2px solid #d9d9d9;
    padding-left: 20px; 
    
}

.book-reservation{
    margin-bottom: 15px;
}

.book-reservation__button{
    background-color: #111;
    color:#fff;
    font-family: Montserrat;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    display: inline;
}

.booking__text_black{
    line-height: 1.3; 
    color:#333333;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/*.booking-row__column{
    overflow: hidden;
    text-align: center;
}
.booking-row__image{
    display: block;
    width: 390px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: transform .5s ease;

}

.welcome-row__image:hover{
    transform: scale(1.5);

} */

@media (max-width:1024px){
    .section-ourmenu{
        width:100%;
        text-emphasis: center;
        padding-bottom: 200px;
    }
    
    .form-row{
        width:920px;
        /* margin-left: 50px; */
        /* column-count: 1; */
        /* display: block; */
    }
    .input{
        width: 220px;
        height: 40px;
        
    }

}

@media (max-width:768px){
    .section-ourmenu{
        width: 100%;
    }
}

@media (max-width:567px){
    .section-booking{
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 40px;
        /* margin-top: 500px; */
    
    }

    .booking__text_black{
        width:330px;
        padding-left: 25px;
    }

    .booking-form{
        width:330px;
        padding-left: 27px;
    }

    .form-row{
        width:330px;
        column-count: 1;
        display: block;
    }
    .input{
        width: 300px;
        height: 50px;
        
    }
   

    
    .book-reservation__button{
        margin-bottom: 20px;
    }
    
}




