.event__bg{
    background-image: url("../../images/bg-event-01.jpg");
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; 
    padding-bottom: 200px;
}

.event__title{
    padding-top: 130px;
}

.event{
    width: 1170px;
    margin-top:100px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.event__image{
    background-image: url("../../images/wineglasses-1.jpg");
    display: block;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* transform: rotate(90deg); */
    
    /* position: relative; */
}

.event__img{
    width:585px;
}

.event__date{
    background-color: red;
    opacity: 0.9;
    position: relative;
    width: 50px;
    height: 100%;
    color: white;
    transform-origin: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    padding: 0;
}

.date__text{
    display: flex;
    width:390px;
    height: 50px;
    position: absolute;
    opacity: 0.8; 
    top: 50%;
    left:20%;
    transform: translate(-50%,-50%) rotateZ(90deg);  
    transform-origin: center center;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;

}

.event__countdown{
    padding: 0 40px 40px 40px;
    display: flex;
    background-color: white;
    width: 50%;
    min-height: 390px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.countdown__title{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.countdown__description{
    text-align: center;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: #666;
    margin: 0;
}

.countdown__count{
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 100%;
    margin-top: 40px;
}

.countdown__time{
    width: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.event__link{
    position: relative;
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #333333;
    font-size:12px;
}

.time__num{
    font-weight: 700;
    display: block;
    text-align: center;
    margin-bottom: 2px;
    font-size: 50px;
    color: #ec1d25;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Montserrat;
}

.time__word{
    font-family: Montserrat;
    font-size: 12px;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    text-align: center;
    font-weight: 700;
}

@media (max-width:567px){
    
    .event{
        width: 350px;
        margin-left: 12px;
        
    }

    .event__image{
        width: 100%;
        height: 364px;
        display: block;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;

    }

    .date__text{
        display: block;
        width: 100%;
        height: 50px;
        padding: 10px;
        transform-origin: center center;
        position: unset;
        transform: rotateZ(0deg);

    }

    .event__date{
        width: 100%;
        height: auto;
        display: flex;
        /* position: absolute; */
    }
    .event__bg{
        padding-bottom: 300px;
        height: 100%;
    }

    .intro__text_white{
        padding-top: 10px;
        color:#505050;
        font-size: 50px;
        font-weight: 900;
        letter-spacing: 10px;
        text-transform: uppercase;
    
    }

    .event__countdown{
        width: 100%;
        margin-top: 364px;
        min-height: 390px;
        text-align: center;
        display: flex;
    }

    
    
    .countdown__description{
        text-align: center;
        font-family: Montserrat;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.7;
        color: #666;
        margin: 0;
    }
    
    
    .countdown__time{
        width: 50px;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-right: 25px;
    }
    
    .event__link{
        position: relative;
        padding-top: 50px;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        color: #333333;
        font-size:12px;
    }
    
    .time__num{
        font-weight: 700;
        display: block;
        text-align: center;
        margin-bottom: 2px;
        font-size: 50px;
        color: #ec1d25;
        line-height: 1.1;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-family: Montserrat;
    }
    
    .time__word{
        font-family: Montserrat;
        font-size: 12px;
        color: #999;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: block;
        text-align: center;
        font-weight: 700;
    }
}