.footer{
    background-color: #222;
}

.footer-container{
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0 70px 0;
    /* height: 487px; */
}

.footer-row{
    column-count: 3;
}

.footer-column{
    padding: 30px 15px 0 15px;
}

.footer-text{
    margin-bottom: 33px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.addresses{
    margin-bottom: 70px;
    list-style-type: none;
    display: block;
}

.address{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 13px;
    color: #999;
    line-height: 1.7;
    margin-bottom: 14px;
    list-style-type: none;
}

.links{
    margin-bottom: 20px;
}

.link__twitter{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 13px;
    color: #ec1d25;
    line-height: 1.7;
}

.link__text{
    margin-bottom: 18px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 13px;
    color: #999;
    line-height: 1.7;
}

.link__date{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    color: #555;
}

.footer-end{
    background-color: black;
}

.footer-logos{
    padding: 22px 0;
    width: 90px;
}
@media (max-width:1024px){
    .section-intro{
        width:100%;
    }
    
}

@media (max-width:768px){
    .section-intro{
        width: 100%;
    }
}

@media (max-width:567px){
    .footer{
        width: 100%;
    }

    .footer-container{
        width: 100%;
    }

    .footer-row{
        column-count: 1;
    }

    .footer-column{
        display: block;
    }

    

    
}