
.intro_parallax{
    background-image: url("../../images/bg-intro-01.jpg");
    text-align: center;
    padding: 135px 0 158px 0;
    min-height: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-content{
    background-color: #fff;
    padding: 77px 0 133px 0;
    justify-content: center;
    align-items: center;
}

.intro__text_red{
    font-family: 'Courgette', cursive;
    color: #cc0000;
    font-weight: 600;
    font-size: 28px;
    padding: 0 15px;
}
.intro__text_white{
    padding-top: 10px;
    color:#ffffff;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 10px;
    text-transform: uppercase;

}

.intro__row{
    display: flex;
    column-count: auto;
    justify-content: center;
    align-items: center;
    
}

.intro__column{
    width: 360px;
    overflow: hidden;
    padding: 20px;
}

.intro__image{
    /* margin-left: auto;
    margin-right: auto; */
    width: 100%;
    height: 220px;
    border-radius: 10px;
    transition: transform .5s ease;

}

.intro__image:hover{
    transform: scale(1.5);
}

.column__text{
    padding-top:20px;
}

.text__title{
    /* line-height: 1.3; */
    font-size: 20px;
    /* font-weight: 500; */
    font-family: 'Poppins', sans-serif;
    color: #262626;
    letter-spacing: 3px;
    text-transform: uppercase;
    /* text-align: center; */
    /* word-spacing: 6px; */
}
.text__body{
    padding-top: 30px;
    color: #696969;
    line-height: 1.5; 
    font-size: 15px;
}

.text__link{
    position: relative;
    padding-top: -30px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #333333;
    font-size:12px;
}
@media (max-width:1024px){
    .section-intro{
        width:100%;
    }
    /* .intro-content{
        width: 920px;
        margin-left: 50px;
    } */
    
}

@media (max-width:768px){
    .section-intro{
        width: 100%;
    }
}

@media (max-width:567px){
    .section-intro{
        width: 100%;
    }

    .intro__row{
        /* column-count: 1; */
        display: block;
    }

    .intro__column{
        width: 350px;
        padding: 20px;
    }

    .intro__image{
        width:340px;
    }

    .intro__text_red{

    }
    
    /* .intro__text_white{
        width: 80%;
        margin-left: 30px;
    } */
}