.modal{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__content{
    width: 500px;
    height: 400px;
    margin: auto;
    background-color: #fff;
    z-index: 100;
    border-radius: 10px;
}