.section-ourmenu{
    background-image:  url("../../images/whitetexture.jpg");
    padding: 115px 0 120px 0;
}

.ourmenu__title{
 text-align: center;
 margin-bottom: 22px;
}

.ourmenu__title-red{
    font-family: 'Courgette', cursive;
    color: #cc0000;
    font-weight: 600;
    font-size: 28px;
    padding: 0 15px;
}

.ourmenu__title-black{
    padding-top: 10px;
    color:#000;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.ourmenu__row{
    margin-top: 50px;
    
}

.ourmenu__row2{
    /* height:231px; */
    /* position: relative; */
    width:100%;
    display: grid;
    grid-template-columns: 770px 370px;
    justify-content: space-around;
    margin-top:30px;
    /* padding: 0 10px; */



}

.ourmenu__column1{
    width:100%;
    column-count: 3;
    /* justify-content: space-between; */
    height: 500px;


}

.vertical-column{
    width: 370px;
    position: relative;
    margin-bottom: 30px;
}


.even-columns{
    position: relative;
    width: 370px;
    margin-left: 10px;

    
}

.column1__image{
    border-radius: 10px;
    width: 370px;
    /* margin-top: 27px; */
    
}
.column2__image{
    border-radius: 10px;
    width:100%;
    /* width: 370px; */
    /* margin-right: 35px; */
    
}

.ourmenu__button{
    border-radius: 10px;
    background-color: #fff;
    opacity: 0.8;
    width: 150px;
    height: 60px;
    font-family: Montserrat;
    color:  #262626;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
}



.ourmenu__button:hover{
    background-color: red;
    color: white;
    transition-duration: 0.4s;

}

.horizontal-column1{
    width: 770px;
    position: relative;
}

.horizontal-column2{
    width: 370px;
    position: relative;
    margin-right: 20px;
}

#happyHour{
    margin-left: 10%;
}

@media (max-width:1024px){
    .section-ourmenu{
        width:100%;
        text-emphasis: center;
    }
    /* .ourmenu__title{
        width: 500px;
        padding: 0 300px;
    }
    .ourmenu__title-red{
        font-size: 30px;
    }
    .ourmenu__title-black{
        font-size: 48px;
    }
    .ourmenu__row{
        width:900px;
    }
    .ourmenu__row2{
        width:900;
    } */
    
}

@media (max-width:768px){
    .section-ourmenu{
        width: 100%;
    }
}

@media (max-width:567px){
    .section-ourmenu{
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .ourmenu__title{
        width: 200px;
        padding: 0 90px;
    }
    .ourmenu__title-red{
        font-size: 30px;
    }
    .ourmenu__title-black{
        font-size: 48px;
    }
    /* .ourmenu__row{
        width:350px;
    }
    .ourmenu__row2{
        width:350px;
    }
    .vertical-column{
        width:350px;
    }
    .ourmenu__column1{
        width:350px;
        column-count: 1;
        display: block;
    }
    .even-columns{
        /* position: absolute; 
        width: 350px;
    }
    .column1__image{
        border-radius: 10px;
        width: 350px;
        /* margin-top: 27px; 
        
    }
    .column2__image{
        width:350px;
    } */

}




