.section-review{
    padding-bottom: 120px;
}
.review__title{
    text-align: center;
    margin-top:100px;
}

.review__photo{
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #ec1d25;
    width: 118px;
    height: 118px;
    margin-left: auto;
    margin-right: auto;
    margin-top:80px;
    animation-duration: 1s;
}

.photo{
    width: 118px;
}

.review__content{
    margin-top: 33px;
    margin-bottom: 100px;
    animation-delay: 1s;
}

.review{
    text-align: center;
    max-width: 890px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    color: #666;
    line-height: 1.7;
    margin-left: auto;
    margin-right: auto;
}

.review__stars{
    margin-top: 12px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star__image{
    height: 18px;
    /* position: relative; */ 
}


.review__author{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 32px;
}

.review__dots{
    width: 100%;
    height: 128px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;

}
.dot{
    margin-left: 5px;
    margin-right: 5px;
}

.review__dot{
    margin: 0;
    list-style-type: none;
}

.button__arrow-left{
    top:40%;
    left: 50px;
    right: auto;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    position: absolute;
    background-color: #000;
    border-radius: 50%;
    border:none;
    opacity: 0.5;
    z-index: 1;
    transition: 0.4s;
}
.button__arrow-right:hover{
    background-color: #ec1d25;
}

.button__arrow-left:hover{
    background-color: #ec1d25;
}

.arrow-left{
    width: 15px;
}
.arrow-right{
    width: 15px;
}

.button__arrow-right{
    top:40%;
    right: 50px;
    left: auto;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    position: absolute;
    background-color: #000;
    border-radius: 50%;
    border:none;
    opacity: 0.5;
    z-index: 1;
    transition: 0.4s;
}
.review-slider{
    display: flex;
    flex-wrap: wrap;
    /* position: relative; */
    /* margin: 0;
    padding: 0; */
    /* display: block; */
}

.review-container{
    /* position: relative;
    margin: 0;
    padding: 0;
    display: block; */
    
}

@media (max-width:1024px){
    .section-intro{
        width:100%;
    }
    
}

@media (max-width:768px){
    .section-intro{
        width: 100%;
    }
}

@media (max-width:567px){
    .section-review{
        width: 100%;
    }

    .button__arrow-left{
        left: 12px;
        top: 45%;
    }

    .button__arrow-right{
        right: 12px;
        top: 45%;
    }
    .review{
        width: 350px;
    }

    
    
}