.sidebar{
    position: fixed;
    background-color: #fff;
    z-index: 10;
    right:0;
    width: 0;
    height: 100%;
    transition: 0.5s;
}

.sidebar .sidebar__close{
    position: absolute;
    height: 20px;
    margin: 20px;
    right: 10px;
    border: none;
    background-color: #fff;
    display: none;
}

.image-close{
    position: relative;
    height: 20px;
}

.image-close-top{
    position: absolute;
    height: 20px;
}

 .image-close:hover{
    opacity:0;
}

.sidebar__menu{
    padding: 70px 30px;
    text-align: center;
}

.sidebar__item{
    list-style: none;
    margin-bottom: 15px;

}

.sidebar__link{
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    line-height: 1.3;
}

.sidebar__link:hover{
    color:red;
    transition-duration: 0.5 ease;
}
.sidebar__button{
    font-family: Montserrat;  
    width:150px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border-radius: 8px;
    border:none;
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 14px;
}

.sidebar__button:hover{
    background-color: red;
    transition-duration: 0.4s;
}

.sidebar__gallery{
    padding: 0 60px 40px;
    text-align: center;
}

.sidebar__gallery_text{
    font-family: Montserrat;  
    font-weight: 700;
    padding-bottom: 30px; 
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.gallery{
    width: 280px;
    column-count: 3;
    margin-top: 30px;
}

.gallery__image{
    width: 80px;
    margin-bottom: 10px;
    margin-right: 6px;
    cursor: pointer;
}

 .gallery__image:hover {
    opacity: 0.3;
    transition: .5s ease;
 }

 @media (max-width:567px){
    .gallery{
        width: 280px;
        column-count: 3;
    }
    .gallery__image{
        width: 60px;
        margin-bottom: 10px;
        margin-right: 6px;
        cursor: pointer;
    }
    .sidebar__button{
        margin-top: 20px;
    }
    .sidebar__gallery_text{
        padding-bottom: 10px; 
    }
    .sidebar__menu{
        padding: 50px 30px;
        text-align: center;
    }
 }
