.section-signup{
    background-image: url("../../images/whitetexture.jpg");
    padding: 85px 0;
}

.form-signup{
    display: flex;
    align-items: center;
    padding: 0 5px;
    justify-content: center;
}

.text-signup{
    margin:10px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Montserrat;
    font-size: 22px;


}
@media (max-width:1024px){
    .section-intro{
        width:100%;
    }
    
}

@media (max-width:768px){
    .section-intro{
        width: 100%;
    }
}

@media (max-width:567px){
    .section-signup{
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .form-signup{
        display: block;
    }

    .text-signup{
        display: block;
    }
    
}