.section-video{
    background-image: url("../../images/bg-cover-video-02.jpg");
    background-attachment: fixed;
    background-position: center;
    display: block;
    /* height: 100vh; */
}

.content-video{
    background-color: rgba(0,0,0,.5);
    text-align: center;
    padding-top: 225px;
    padding-bottom: 250px;
}
.button-container{
    display: block;
    width:70px;
    height:70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 33px;
    margin-top: 43px;
}
.button-play{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.play{
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    border:none;
}

.play__image{
    width: 40px;
    margin-left: 8px;
}