.section-welcome{
    
    padding: 120px 0 105px 0;
    background-image: url("../../images/whitetexture.jpg"); 
    
}
.welcome-row{
    column-count: 2;
    justify-content: space-between;
    align-items: center;
    
}

.welcome-row__text{
    padding: 50px 30px;
}

.welcome-row__column{
    overflow: hidden;
    text-align: center;
    
}


.welcome-row__text_red{
    font-family: 'Courgette', cursive;
    color: #cc0000;
    line-height: 1.3; 
    font-weight: 600;
    font-size: 28px;
    padding: 0 30px;
}
.welcome-row__text_black{
    line-height: 1.3; 
    color:#333333;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.welcome-row__description{
    padding-top: 30px;
    color:#595959;
    line-height: 1.5; 
    font-size: 14px;
}

.welcome-row__story{
    position: relative;
    padding-top: -30px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #333333;
}

.welcome-row__arrow{
    padding-top: 30px;
    height: 13px;
    padding-left: 5px;
    display: inline-block;
}

.welcome-row__image{
    display: block;
    width: 390px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: transform .5s ease;
    
}

.welcome-row__image:hover{
    transform: scale(1.5);
    
}

@media (max-width:1024px){
    .section-welcome{
        width:100%;
    }

    /* .welcome-row{
        width:920px;
        margin-left: 40px;
    }
     */
}

@media (max-width:768px){
    .section-welcome{
        width: 100%;
    }
}

@media (max-width:567px){
    .section-welcome{
        width: 100%;
        padding-bottom: 150px;
        /* margin-bottom:40px; */
    }
    
    .welcome-row{
        width: 370px;
        column-count: 1;
        align-items: center;
        display: block;
    }
    .welcome-row__column{
        width: 370px;
        text-align: center;
        
    }
    .welcome-row__image{
        width: 350px;
        height: 320px;
        
    }
     
    
   
   
}